@import "tailwindcss";

/* Configure the Theme */
@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}